/* NAV CSS */

nav{
	background-color: #f55;
}

nav a{
	color: white;
	text-decoration: none;

}

/* HEADER CSS */

#header h1{
	font-family: helvetica, arial, sans-serif;
}

#header p{
	font-family: verdana;
	font-size: .5em;
}

/* MAIN CONTENT CSS */

#row{
	width: 50%;
	float: left;
	display: block;
}

#thirds{
	width: 28.33%;
	float: left;
}

#thirds h4{
	background-color: aliceblue;
}

#thirds p{
	font-size: 12px;
}


/* FOOTER CSS */

/* MEDIA QUERIES */